NODE_ENV=development
PORT=10000

CLIENT_URL=http://localhost:5173

DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/ojat_ai?schema=public"

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d

GROQ_API_KEY_1=
GROQ_API_KEY_2=

GROQ_BASE_URL=https://api.groq.com/openai/v1
GROQ_MODEL_NAME=openai/gpt-oss-120b

WHATSAPP_VERIFY_TOKEN=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_APP_SECRET=

PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=
PAYSTACK_WEBHOOK_SECRET=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

REDIS_URL=